:root {
   --color-letra: #8a8680;
   --Naranja: #E8622A;
   --Texto-botones: #FFFFFF;
   --Bordes: #535251;
   --Titulo: #F0EDE8;
   --Espaciado: 20px;
   --Fondo: #111111;
   --Fuente-Titulos: 'Barlow Condensed', sans-serif;
   --Fuente-Texto: 'Inter', sans-serif;
   --Size-H1: 6rem;
   --Size-H1-Movil: 3rem;
   --Size-H2: 4rem;
   --Size-H2-Movil: 2rem;


}

body {
   background-color: var(--Fondo);
   font-family: var(--Fuente-Texto);
   margin: 0;
   color: var(--color-letra);
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: var(--Fuente-Titulos);
   text-transform: uppercase;
}

a {
   text-decoration: none;
}

.Logo-texto {
   display: flex;
   align-items: center;
   gap: var(--Espaciado);
}

.Nav {
   display: flex;
   align-items: center;
   gap: var(--Espaciado);
   padding: 17px;
}

.Nav a {
   color: var(--color-letra);
}

.Logo-texto a {
   color: var(--Texto-botones);
}

.CambioLetra-Logo {
   color: var(--Naranja);
}

/*NO BORRAR .Nav .boton-presupuesto (da color a la letra del botón!)*/
.Nav .boton-presupuesto,
.boton-presupuesto {
   color: var(--Texto-botones);
   background-color: var(--Naranja);
   padding: 10px 40px;
   font-family: var(--Fuente-Titulos);
   text-transform: uppercase;
}

#Hero {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://fastly.picsum.photos/id/22/4434/3729.jpg?hmac=fjZdkSMZJNFgsoDh8Qo5zdA_nSGUAWvKLyyqmEt2xs0);
   background-size: cover;
   background-position: center;
   padding: 100px;
}

#Servicios {
   padding: 100px;
}

.botones {
   display: flex;
   margin-top: 50px;
   gap: 20px;
   flex-wrap: wrap;
}

.subtitulo::before {
   content: "";
   display: inline-block;
   background-color: var(--Naranja);
   margin-right: 10px;
   width: 30px;
   height: 1px;
   vertical-align: 5px;
}

h1,
h2,
h3 {
   color: var(--Titulo);
   font-family: var(--Fuente-Titulos);
}

h1 {
   font-size: var(--Size-H1);
   margin: 0;
   max-width: 700px;
}

h2 {
   font-size: var(--Size-H2);
   margin: 0;
}

.contenedor {
   max-width: 1200px;
   margin: auto;
}

.subtitulo {
   color: var(--Naranja);
   font-family: var(--Fuente-Titulos);
}

.CifrasDeConfianza {
   display: flex;
   justify-content: center;
   gap: 100px;
   margin-top: 100px;
   flex-wrap: wrap;
}

.descripcionH1 {
   max-width: 600px;
}

.TablaServicios {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 1px 1px;
   background-color: var(--color-letra);
}

.ColorTargeta {
   background-color: var(--Fondo);
   padding: var(--Espaciado);
}

.PaddingBottom {
   padding-bottom: 100px;
   max-width: 450px;
}

.TextoDerecha {
   justify-content: space-between;
   display: flex;
}

@media (max-width: 768px) {
   h1 {
      font-size: var(--Size-H1-Movil);
   }

   h2 {
      font-size: var(--Size-H2-Movil);
   }

   #Hero, #Servicios {
      padding: 60px 20px;
   }

   .CifrasDeConfianza {
      gap: 10px;
   }

   .TextoDerecha {
      flex-direction: column;
   }

   .TablaServicios {
      grid-template-columns: 1fr;
   }

   .PaddingBottom {
      padding-bottom: 70px;
   }
}